<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? && current_user.normal? %>
        <li class="nav-item">
        <%= link_to 'My Tickets', tickets_index_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
        <%= link_to "Create Ticket", new_ticket_path, class: "nav-link" %>
        </li>
        <% end %>


        <% if user_signed_in? && current_user.executive? %>
        <li class="nav-item">
        <%= link_to 'Assigned Tickets', tickets_index_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
        <%= link_to "Search Tickets", static_pages_user_search_path, class: "nav-link" %>
        </li>
        <% end %>


      </ul>

      <ul class="navbar-nav ml-auto logout-container">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to "Login", new_user_session_path, class: "btn btn-outline-success" %>
          </li>
        <% end %>
        </ul>
      </ul>
      <style>
        .logout-container {
        margin-left: 10px; /* Ajusta este valor según tus necesidades */
        }
        </style>

    </div>
  </div>
</nav>